
.go-left-btn{
    position: absolute;
    z-index: 2;
    left: var(--margin-smaller);
    top: 45vh;
    color: white;
}

.go-right-btn{
    position: absolute;
    z-index: 2;
    right: var(--margin-smaller);
    top: 45vh;
    color: white
}

.slider-page {
    height: 100vh;
    width: 100vw;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: var(--padding);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: calc(100vh - var(--navbar-height) * 2.5);
    padding: var(--padding-small);
    box-shadow: 0px 0px 30px rgba(black, 0.7);
    border-radius: var(--std-border-rad);
    overflow: auto;
}

#profile-img-container {
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../../assets/imgs/settings/profile-blank.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
    border: solid 3px var(--color-primary-1);
    overflow: hidden;
    box-shadow: 0px 20px 20px rgba(black, 0.3);
    margin-top: var(--margin-large);
    margin-bottom: var(--margin-large);
}
#profile-img-container img{
    object-fit: cover;
    min-width: 100%;
    min-height: 100%
}
.userdata-list li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--margin-small);
}
.userdata-list li .title-second{
    color:var(--color-lighter)
}
.userdata-list li .title-first{
    color:var(--color-primary-1)
}
.userdata-list li span{
    color: black;
margin-top: var(--margin-smallest);
text-align: center;
}

.chat-btn{
    margin-bottom: var(--margin);
    color: var(--color-primary-1);
}
.chat-btn span{
    color: var(--color-primary-1);
}