<ion-content>
    <button *ngIf="getShowButtons()" class="go-left-btn" (click)="nextSlide(false)">
        <h1><fa-icon [icon]="leftIcon"></fa-icon></h1>
    </button>
    <button *ngIf="getShowButtons()" class="go-right-btn" (click)="nextSlide(true)">
        <h1><fa-icon [icon]="rightIcon"></fa-icon></h1>
    </button>

    <section class="spacer1 layer2">
        <div id="empty-container" *ngIf="!getShowButtons()">
            <h1>
                Sorry, currently no helpers are available. The best time to enjoy a good book, have a look at our News feed!
            </h1>
            <a>
                <h1> <fa-icon [icon]="newsIcon"></fa-icon></h1>
            </a>
        </div>
        <swiper #swiper [config]="config" *ngIf="getIsMentee()">
            <ng-container *ngFor="let peer of getPeerList();let i = index">
                <ng-template swiperSlide>
                    <div class="slider-page">
                        <div class="card spacer1 layer1">
                            <div id="profile-img-container">
                                <img *ngIf="getProfilePicture(i).length>4"
                                    src="https://bouba.io/api/uploads/{{getProfilePicture(i)}}" alt="profile" onerror="this.onerror=null;this.src='./assets/imgs/settings/profile-blank.png';" />
                            </div>
                            <ul class="userdata-list">
                                <li>
                                    <h1 class="title-first">{{peer.nickname}}</h1>
                                </li>
                                <li>
                                    <h1 class="title-second">Age</h1>
                                    <span class="text">{{peer.age}} years</span>
                                </li>
                                <li>
                                    <h1 class="title-second">Gender</h1>
                                    <span class="text">{{peer.gender}}</span>
                                </li>
                                <li>
                                    <h1 class="title-second">Language</h1>
                                    <span class="text">{{peer.language}}</span>
                                </li>
                                <li>
                                    <h1 class="title-second">Description</h1>
                                    <span class="text">{{peer.description}}</span>
                                </li>
                            </ul>
                            <button class="chat-btn" (click)="addChat(i)">
                                <h1><fa-icon [icon]="chatIcon"></fa-icon></h1>
                                <span>Chat Now</span>
                            </button>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </swiper>

        <swiper #swiper2 [config]="config" *ngIf="!getIsMentee()">
            <ng-container *ngFor="let peer of getMenteeList();let i = index">
                <ng-template swiperSlide>
                    <div class="slider-page">
                        <div class="card spacer1 layer1">
                            <div id="profile-img-container">
                                <img *ngIf="getProfilePicture(i).length>4"
                                    src="https://bouba.io/api/uploads/{{getProfilePicture(i)}}" alt="profile" onerror="this.onerror=null;this.src='./assets/imgs/settings/profile-blank.png';" />
                            </div>
                            <ul class="userdata-list">
                                <li>
                                    <h1 class="title-first">{{peer.nickname}}</h1>
                                </li>
                                <li>
                                    <h1 class="title-second">Description</h1>
                                    <span class="text">{{peer.description}}</span>
                                </li>
                            </ul>
                            <button class="chat-btn" (click)="addChat(i)">
                                <h1><fa-icon [icon]="chatIcon"></fa-icon></h1>
                                <span>Chat Now</span>
                            </button>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </swiper>
    </section>



</ion-content>