#settings-section{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;
}

.file-input {
    display: none;
}

#form-wrapper {
    max-width: 512px;
    padding: var(--padding-small);
}