<ion-content>
  <app-worked-popup *ngIf="showWorked"></app-worked-popup>

<section class="spacer1 layer4">
  <section id="settings-section">
    <!-- <app-settings-mentee *ngIf="getIsMentee()"></app-settings-mentee> -->
    <!-- <app-settings-peer *ngIf="!getIsMentee()"></app-settings-peer> -->

    <ng-container id="settings-wrapper" *ngIf="getNicknameIsSet() && getHomeIsLoaded()">

      <div id="profile-img-container" >
        <img *ngIf="getProfilePicture().length>4 && showProfile" src="https://bouba.io/api/uploads/{{getProfilePicture()}}" alt="profile" (error)="showProfile=false" />
      </div>

      <input type="file" class="file-input" (change)="onFileSelected($event)" accept="image/png, image/gif, image/jpeg"
        #fileUpload>

      <button class="upload-btn" (click)="fileUpload.click()">
        <fa-icon [icon]="uploadIcon"></fa-icon>
      </button>
      <section id="form-wrapper">
        <form>
          <div class="input-wrapper">
            <label for="nickname">Nickname</label>
            <input class="text-input" type="text" pattern="[a-zA-Z0-9-]+" id="nickname" name="nickname"
              [(ngModel)]="userdata.nickname" />
          </div>
          <div class="input-wrapper">
            <label for="password">Password</label>
            <input class="text-input" type="password" pattern="[a-zA-Z0-9-]+" id="password" name="password"
              [(ngModel)]="userdata.password" />
          </div>
          <ng-container *ngIf="!userdata.isMentee">
            <div class="input-wrapper">
              <label for="password">Age</label>
              <input class="text-input" type="number" pattern="[a-zA-Z0-9-]+" id="age" name="age"
                [(ngModel)]="userdata.age" />
            </div>
            <div class="input-wrapper">
              <label for="password">Gender</label>
              <input class="text-input" type="text" pattern="[a-zA-Z0-9-]+" id="gender" name="gender"
                [(ngModel)]="userdata.gender" />
            </div>
            <div class="input-wrapper">
              <label for="password">Language</label>
              <input class="text-input" type="text" pattern="[a-zA-Z0-9-]+" id="language" name="language"
                [(ngModel)]="userdata.language" />
            </div>
          </ng-container>
          <div class="input-wraper">
            <label for="description">Describe yourself</label>
            <textarea id="description" name="description" maxlength="500" [(ngModel)]="userdata.description">
          </textarea>
          </div>
      
          <!-- <div class="input-wrapper">
          <div class="dropdown">
            <label for="nickname">Prefered Peers</label>
            <button class="dropbtn"><span>{{userdata.preferedPeers}}</span></button>
            <div class="dropdown-content">
              <button (click)="setPreferedPeers()"><span>Link 1</span></button>
              <button href="#"><span>Link 1</span></button>
              <button href="#"><span>Link 1</span></button>
            </div>
          </div>
        </div> -->
          <div class="radio-wrapper">
            <div class="option-wrapper">
              <button [ngClass]="userdata.isMentee? 'radio-btn selected':'radio-btn'"
                (click)="userdata.isMentee=true"></button>
              <span>I need Help</span>
            </div>
            <div class="option-wrapper">
              <button [ngClass]="!userdata.isMentee? 'radio-btn selected':'radio-btn'"
                (click)="userdata.isMentee=false"></button>
              <span>I want to Help</span>
            </div>
          </div>
          <span class="form-error-text">{{formErrorText}}</span>
          <input class="submit-input" type="submit" value="Save" (click)="update()" />
        </form>
      </section>
    </ng-container>

    <ng-container *ngIf="!getNicknameIsSet()">
      <section class="first-settings">
        <section id="form-wrapper">
          <form>
            <div class="input-wrapper">
              <label for="nickname">Nickname</label>
              <input class="text-input" type="text" pattern="[a-zA-Z0-9-]+" id="nickname" name="nickname"
                [(ngModel)]="userdata.nickname" />
            </div>
            <span class="form-error-text">{{formErrorText}}</span>
            <input class="submit-input" type="submit" value="Save" (click)="submit(true)" />
          </form>
        </section>
      </section>
     
    </ng-container>
  </section>
</section>

</ion-content>