@import "../../../theme/variables.scss";


.slider-page {
    height: 100vh;
    width: 100vw;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: var(--padding);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//one----------------------------------------
.slider-page.one {
    background: linear-gradient(-45deg, var(--color-primary-1) 10%, var(--color-primary-3) 100%);
}

.slider-page.one img {
    max-width: 80px;
}

.slider-page.one .title-first {
    text-align: center;
    font-size: calc(var(--fontsize-title) * 1.45);
}

.slider-page.one .title-second {
    text-align: center;
    font-size: var(--fontsize-std);
    text-transform: none;
}

//two----------------------------------------
.slider-page.two {
    background-image: url("../../../assets/imgs/first-time/slideview-1.jpg"), radial-gradient(at right, #0aa093 0%, #022231 100%);
}

.slider-page.two .heart-icon {
    color: white;
    font-size: var(--fontsize-title);
}

.slider-page.two .title-first {
    margin-top: var(--margin);
    text-align: center;
    margin-bottom: var(--margin-small);
}

.slider-page.two .title-second {
    text-align: center;
    font-size: var(--fontsize-std);
    text-transform: none;
}

//three----------------------------------------
.slider-page.three {
    position: relative;
    overflow: hidden;
    background: linear-gradient(135deg, var(--color-primary-1) 10%, var(--color-primary-3) 100%);
}
.bouble-top{
    position: absolute;
    right: 0px;
    top: 0px;
    transform:translate(20vw,-20vw);
    width: 100vw;   
    height: 100vw;
    background-color: var(--color-primary-1);
    border-radius: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -30px 30px 30px rgba(black,0.1);
}
.bouble-bottom{
    position: absolute;
    left: 0px;
    bottom: 0px;
    transform:translate(-20vw,20vw);
    width: 100vw;   
    height: 100vw;
    background-color: var(--color-primary-1);
    border-radius: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 30px -30px 30px rgba(black,0.1);
}

.need-help-btn {
  animation: 3s wobbleSmooth infinite;
}

.want-to-help-btn {
    animation: 3s wobbleSmooth 1.5s infinite;
}

.slider-page.three .title-first {
    text-align: center;
    margin-bottom: var(--margin-small);
}