<ion-content>
  <swiper [config]="config">
     <ng-template swiperSlide>
      <div class="slider-page one">
        <img src="./assets/imgs/logos/logo-white.png" alt="logo" />
        <h1 class="title-first">Bouba</h1>
        <h1 class="title-second">The simple mental health platform
        </h1>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="slider-page two">
        <h1 class="heart-icon">
          <fa-icon [icon]="heartIcon"></fa-icon>
        </h1>
        <h1 class="title-first">We are proud to have your here</h1>
        <h1 class="title-second">You search for
          psychologic support or
          want to do your part and
          help by yourself?<br><br>

          then you are absolutely
          in the right spot!
        </h1>
      </div>
    </ng-template> 

    <ng-template swiperSlide>
      <div class="slider-page three">
        <h1 class="title-first">Choose your role</h1>

        <div class="bouble-top" (click)="start(true)">
          <button class="need-help-btn">
            <h1 class="title-first">
              <fa-icon [icon]="iNeedHelpIcon"></fa-icon>
            </h1>
            <h1 class="title-second">I need help</h1>
          </button>
        </div>

        <div class="bouble-bottom" (click)="start(false)">
          <button class="want-to-help-btn">
            <h1 class="title-first">
              <fa-icon [icon]="iHelpIcon"></fa-icon>
            </h1>
            <h1 class="title-second">I want to help</h1>
          </button>
        </div>
      </div>
    </ng-template>

  </swiper>
</ion-content>